<main>
    <div class="row gy-3">
        <div class="col-8">
            {{#with navigation}}
            <div class="row g-2">
                {{#each links}}
                <span class="col-3">
                    <a href="{{href}}">{{text}}</a>
                </span>
                {{/each}}
                <a class="btn btn-primary col-3" href="{{button/href}}">{{button/text}}</a>
            </div>
            {{/with}}
        </div>
        <hr>
        {{!-- ------------------------------- --}}
        <div>
            {{#with header}}
            <h1>{{title}}</h1>
            <p>{{description}}</p>
            <br>
            <a href="{{button/link}}" class="btn btn-primary">{{button/text}}</a>

            {{/with}}
        </div>

        <hr>
        {{!-- ---------- --}}

        <div>
            {{#with city}}
            <h2>{{title}}</h2>
            <div class="col-10">

                <div class="row g-2">
                    {{#each cards}}
                    <div class="col-6">
                        <div class="card">
                            <img class="card-img-top" src="{{picture/src}}" alt="{{picture/alt}}">
                            <div class="card-body">
                                <h5 class="card-title">{{title}}</h5>
                                <p>{{description}}</p>
                                <a class="btn btn-primary" href="{{button/href}}">{{button/text}}</a>

                            </div>
                        </div>

                    </div>
                    {{/each}}
                </div>

            </div>
            {{/with}}
        </div>

        <hr>
        {{!-- ----------------------- --}}

        <div>
            {{#with winner}}
            <h2>{{title}}</h2>
            <div>
                {{#with table}}
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            {{#each head}}
                            <th>{{this}}</th>
                            {{/each}}
                        </tr>
                    </thead>
                    <tbody>
                        {{#each user}}
                        <tr>
                            <td>{{place}}</td>
                            <td>{{name}}</td>
                            <td>{{surname}}</td>
                            <td>{{nickname}}</td>
                        </tr>
                        {{/each}}

                    </tbody>
                </table>
                {{/with}}
            </div>
            {{/with}}
        </div>
        <hr>
        {{!-- --------------------------------- --}}

        <div class="col-12">
            {{#with gallery}}
            <h2>{{title}}</h2>
            <div class="row g-2">
                {{#each cards}}
                <section class="col-4">
                    <div class="card">
                        <div class="card-header">
                            <div>{{name}}</div>
                        </div>

                        <ul class="list-group">
                            <li class="list-group-item">
                                {{items.[2]}}
                            </li>
                            <li class="list-group-item">
                                {{items.[3]}}
                            </li>
                            <li class="list-group-item">
                                {{items.[3]}}
                            </li>

                        </ul>

                    </div>
                </section>
                {{/each}}
            </div>
            {{/with}}
        </div>
        <hr>
        {{!-- ------------------------------------ --}}

        <div>
            {{#with relaxion}}
            <div class="col-10">
                <div class="display-3">{{title}}</div>
                <div class="row g-2">
                    {{#each cards}}
                    <section class="col-6">
                        <div class="card text-bg-secondary">
                            <div class="card-header">
                                <div>{{header}}</div>
                            </div>
                            <h5>{{title}}</h5>
                            <p>{{description}}</p>

                        </div>
                    </section>

                    {{/each}}
                </div>
            </div>

            {{/with}}
        </div>
        <hr>
        {{!-- ------------------------------------- --}}

        <div>
            {{#with rest}}
            <section class="col-12">
                <div class="row g-2">
                    {{#each cards}}
                    <div class="col-6">
                        <div class="card">
                            <div class="card-header text-center">{{header}}</div>
                            <div class="card-body text-center">
                                <h6>{{title}}</h6>
                                <p>{{description}}</p>
                                <button class="btn btn-primary">{{button}}</button>
                            </div>
                            <div class="card-footer text-center">{{footer}}</div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </section>
            {{/with}}
        </div>
        <hr>
        {{!-- -------------------------------------- --}}

        <div>
            {{#with proposition}}
            <div class="display-2">{{title}}</div>
            <section class="col-10">
                <div class="row g-2">
                    {{#each card}}
                    <div class="col-6">
                        <div class="card text-bg-warning">
                            <div class="card-header">{{header}}</div>
                            <div class="card-body">
                                <h6>{{title}}</h6>
                                <p>{{description}}</p>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </section>
            {{/with}}
        </div>
        <hr>
        {{!-- -------------------------------------- --}}

        <div>
            {{#with footer}}
            <h5>{{title}}</h5>
            <div class="col-9">
                <div class="row gy-2">
                    <section class="col-4">
                        {{#each navigation}}
                        <div>
                            <a href="{{href}}">{{text}}</a>
                        </div>
                        {{/each}}
                    </section>
                    <section class="col-4">
                        {{#each socialMedia}}
                        <div>
                            <a href="{{link}}" class="btn btn-outline-dark">{{name}}</a>
                        </div>
                        {{/each}}
                    </section>
                    <section class="col-4">
                        {{#each partners}}
                        <div>
                            <a href="{{link}}" class="btn btn-outline-info">{{name}}</a>
                        </div>
                        {{/each}}
                    </section>


                </div>
            </div>
            {{/with}}
        </div>




    </div>
</main>