<main>

    <div>
        {{#with heading}}
        <div class="card">

            <div class="card-body">

                <div class="card">
                    {{#with main}}
                    <div class="card-body">
                        <h1>{{title}}</h1>
                        <p>{{text}}</p>

                        <div>
                            {{#with button_text}}
                            <div><button class="btn btn-primary">{{solid}}</button></div>
                            <br>
                            <div><button class="btn btn-outline-primary">{{outline}}</button></div>
                            {{/with}}
                        </div>

                    </div>
                    {{/with}}

                </div>

                <br>

                <div class="card">
                    {{#with second}}
                    <div class="card-body">
                        <h2>{{title}}</h2>
                        <p>{{text}}</p>

                        <div>
                            {{#with button_text}}
                            <div><button class="btn btn-secondary">{{solid}}</button></div>
                            <br>
                            <div><button class="btn btn-outline-secondary">{{outline}}</button></div>
                            {{/with}}
                        </div>

                    </div>
                    {{/with}}

                </div>

                <br>

                <div class="card">
                    {{#with subblock}}
                    <div class="card-body">
                        <h3>{{title}}</h3>
                        <p>{{text}}</p>

                        <div>
                            {{#with button_text}}
                            <div><button class="btn btn-dark">{{solid}}</button></div>
                            <br>
                            <div><button class="btn btn-outline-dark">{{outline}}</button></div>
                            {{/with}}
                        </div>

                    </div>
                    {{/with}}

                </div>

            </div>

        </div>
        {{/with}}
    </div>

    <br>
    {{!-- ------------------------------------ --}}
    <br>

    <div>
        {{#with nested_display}}
        <div class="card">
            <div class="card-body">
                <div class="display-1">{{title}}</div>
                {{!-- ================================= --}}
                <br>
                <div>
                    {{#with children_display}}
                    <div class="card">
                        <div class="card-body">
                            <div class="display-4">{{title}}</div>
                            <p>{{text}}</p>
                            <button class="btn btn-outline-warning">{{button/text}}</button>
                        </div>
                    </div>
                    {{/with}}
                </div>
                <br>
                {{!-- ================================ --}}
                <h6>{{header_text}}</h6>
                <button class="btn btn-info">{{button/text}}</button>
                <br>

            </div>
        </div>
        {{/with}}
    </div>

    <br>
    {{!-- ------------------------------------- --}}
    <br>

    <div>
        {{#with paragraph}}
        <div class="card">
            <div class="card-body">
                <p class="text-uppercase">{{title}}</p>
                <p class="text-lowercase">{{text}}</p>
                <br>
                <a class="btn btn-link" href="{{button/url}}">{{button/text}}</a>
                <br>
                {{!-- ================= --}}
                <br>
                <div class="card">
                    <div class="card-body">
                        {{#each list_name}}
                        <ul>
                            <li>
                                <a class="btn btn-link" href="{{url}}">{{text}}</a>
                            </li>
                        </ul>
                        {{/each}}
                    </div>
                </div>
                {{!-- ================= --}}

            </div>
        </div>
        {{/with}}
    </div>

</main>